# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
backend/venv/

# -----------------------------
# Environment Variables
# -----------------------------
backend/.env

# -----------------------------
# SQLite Database
# -----------------------------
backend/cloud_manager.db
*.db-journal

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Terraform
# -----------------------------
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db